{% extends "canteen/base.html" %}
{% block content %}
<h1 class="display-1"> Menu </h1>
{% for dish in dishes %}
<article class="media content-section">
  <div class="media-body">
    <img class="img-thumbnail account-img " src="{{ dish.imageURL }}">
    <h2>
      <a class="article-title" href="{% url 'dish-detail' dish.id %}" 
      {% if not dish.available and not user.is_superuser%} 
        style="pointer-events: none; color:gray" 
      {% endif %}>
        {{ dish.title }}</a>
        <span> <small class="text-muted"> [Rs. {{dish.price}}] </small></span>
        {% if dish.discountPercent > 0 %}
          <span style=" font-size:small; color: blue;">  [Disc. {{dish.discountPercent}}%] </span>
        {% endif %}
      {% if dish.available  %}
        <span>&#9989;</span>
        {% if  not user.is_staff %}
          <form action="{% url 'addorderitem' dish.id %}" method="POST" class="d-sm-inline">
            {%csrf_token%}
            <input type="submit" class="btn btn-primary" value="Add to Order">
          </form>
        {% endif %}
      {% else %}
        <span>&#10060;</span>
      {% endif %}
    </h2>
  </div>
</article>
{% endfor %}
{% endblock content %}