{% extends "canteen/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div class="row">
  <div class="col-lg-12">
    <div class="box-element">
      {% if message != None %}
        <div class=" p-2  bg-warning text-white"> {{message}}</div>
      {% endif %}
    </div>
  </div>
</div>

<div class="box-element">
  <div class="cart-row">
    <div style="flex:1"><strong>Action</strong></div>
    <div style="flex:2"><strong>Order Number</strong></div>
    <div style="flex:1"><strong>Items</strong></div>
    <div style="flex:1"><strong>Amount</strong></div>
    <div style="flex:1"><strong>Status</strong></div>
    <div style="flex:1"><strong>Table</strong></div>
  </div>
</div>

{% for order in orders %}

  <div class="cart-row">
    <div style="flex:1; ">
      {%if order.status == 'Payment Made' or order.status == 'Feedback Given' %}
      <a style="float:left; margin:1px; " class="btn btn-outline-dark" href="{% url 'billpaid' order.id %} ">
        Paid</a>
      {% endif %}
    </div>
    <div style="flex:2">
      <a href="{% url 'vieworder' order.id %}">{{order.transaction_id}}</a>
    </div>
    <div style="flex:1">
      <p> {{order.get_order_items_total}}</p>
    </div>
    <div style="flex:1">
      <p>Rs {{order.get_order_total}}  </p>
    </div>
    <div style="flex:1">
      <p>{{order.status}} </p>
    </div>
    <div style="flex:1">
      <p>{{order.table.name}} </p>
    </div>
  </div>

  
 
  
{% endfor %}
{% endblock content %}